* {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1em;

}

.logogo {
    margin-right: auto;
}


.topHeader {
    display:flex;
    flex-direction: row;
    margin: 1em 13% 1em 13%;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}

.testt {
justify-content: center;
}

.topNavMenu {
    padding: 0.8em 1.4em 0.5em 1.4em;
    text-decoration: none;
    transition-duration: 250ms;
    color: black;
    width: 50%;

}

.topNavMenu:hover {
    color: #0065fc;
    font-weight: bold;
    border-top: 0.4em solid #0065fc;
    transition-duration: 250ms;

}

.topNavSignUp {
    padding: 0.8em 1.4em 0.5em 1.4em;
    text-decoration: none;
    font-weight: bold;
    color: #0065fc;

}

.hostNav {
    order: 1;
}

.actNav {
    order: 2;
}

.signNav {
    order: 3;
}






#titleSearch {
    font-weight: bolder;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: 1.4em;
}

#parSearch {
    margin-top: 0.2em;
    margin-bottom: 0.4em;
}



.searchBar {
    display: flex;
    flex-direction: row;
    /* padding: 0.8em; */
    padding-top: 1em;
    
    
}

.searchInput {
    border: 0.1em solid #f2f2f2;
    font-weight: bold;
    padding-left: 1rem;

}



.searchButton {
    border: none;
    background-color:#0065fc;
    padding: 1.1em 1.2em 1.1em 1.2em;
    color: white;
    border-radius: 0 0.8em 0.8em 0;
    font-weight: bold;
    transition-duration: 350ms;
    cursor: pointer;
}



.searchButton:hover {
    background-color: white;
    color:  #0065fc;
    transition-duration: 350ms;
    transition-delay: 50ms;
    font-weight: bold;
}
/* .searchButton,.icon,.glass:hover {
    color:  #0065fc;
    transition-duration: 350ms;
    transition-delay: 50ms;
    font-weight: bold;
} */


.searchHeader {
    display: flex;
    flex-direction: column;
    margin: 1em 13% 1em 13%;


}

.filtres {
    margin-top: 1.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.titleFiltre {
    font-weight: bold;
    margin-right: 1.3em;
    /* display: flex;
    align-items: center; */

}

.btn-filtres {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filtre {
    /* padding: 1em 1.1em 1.1em 0.8em ; */
    margin-right: 1.3em;
    font-weight: bold;
    border-radius: 2em;
    border: 0.15em solid #f2f2f2;
    background-color: #fff;
    font-size: 1em;
    cursor: pointer;
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-left: none;

}

button {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 1.3em;
}

.quote {
    display: inline-flex;
    align-items: center;
    margin-top: 1.3em;

}

.fas {
    margin-right: 1.3em;
    padding-left: 0;

}

i {
    color: #0065fc;
}

.material-icons {
    display: flex;
    color: black;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 0.4em;
    background-color: #f2f2f2;
    border-radius: 0.5em 0 0 0.5em;

}

#iconsFiltre {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3.2rem;
    width: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconsFiltre1 {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3.2rem;
    width: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconsFiltre2 {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3.2rem;
    width: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconsFiltre3 {
    background-color: #DEEBFF;
    border-radius: 100%;
    height: 3.2rem;
    width: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hostAndPopular {
    /* margin: 1em auto 1em 13%; */
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: space-between;

}

.host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 55%;
    background-color: #f2f2f2;
    border-radius: 1em;
    justify-content: space-evenly;
    margin: 1em 13% 1em 13%;
    

}

.headerHostTitle {
    width: 90%;
    height: 2em;
    font-size: 1.2em;
    padding-bottom: 1em;
}

.headerHostTitle h1 {
    font-weight: 600;
}

.hostCard {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    width: 28% ;
    margin-bottom: 2em;
    /* margin: 0.5em; */
    /* padding-right: 0; */
    border-radius: 0.7em 0.7em 0.7em 0.7em;
    display: flex;
    flex-direction: column;
    justify-content: center;





}




.host img {
    /* width: 96%;
    object-fit: cover; */
    border-radius: 1em 1em 0 0;
    padding-top: 0.3em;
    width: 94%;
    height: 8em;
	object-fit: cover;
    /* margin-left: 0.8em; */

    /* display: flex;
    flex-direction: column;
    justify-content: center; */

}

#imgLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: black;

}

#hostName {
    font-weight: bold;
    padding-left: 1em;
    margin-top: 0.4em;
    margin-bottom: 0;
    padding-top: 0;

}

#hostPrice {
    padding-left: 1em;
    margin-top: 3px;
}



#imgLink img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2em;
}

#emptyStar {
    color: #f2f2f2;

}





.hostCardRating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 1em;
    padding-bottom: 0.5em;
    height: 1.5em;


}

.hostCardName {
    height: 2em;
    margin-top: 0.5em;
}

.hostCardPrice {
    display: flex;
    align-items: center;
    height: 2em;

    
}

.ratingStar {
    margin-right: 0.2em ;
    
}

.emptyStar {
    color: #f2f2f2;
    margin-right: 0.2em ;

}

@media all and (max-width: 375px){


    .topHeader {
        margin: 0.5em 0.5em 0.5em 0.5em;
    }

    .topNavMenu {
        display: inline-flex;
        flex-flow: row;
        justify-content: center;
        /* color: #f2f2f2; */
        font-weight: bold;
        border-bottom: 0.2em solid #f2f2f2;
        border-top:none;
        transition-duration: 250ms;
    }

    .hostNav {
        order: 2;
       width: 50%;
    }

    

    .actNav {
        order: 3;
        width: 50%;


    }

    .signNav {
        order: 1;
        margin-left: auto;
    }

    .topNavMenu:hover {
        color: #0065fc;
        font-weight: bold;
        border-bottom: 0.2em solid #0065fc;
        border-top:none;
        transition-duration: 250ms;
    }



   .testt {
       width: 100%;
       order: 2;
       display: flex;
       flex-direction: row;
   }

   main {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    width: 100%;

   }

   

   .hostAndPopular {
    /* margin: 1em 13% 1em auto; */
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: center;
    width: 100%;
   }

   .host {

       width: 90%;
       /* margin: 1em 13% 1em 13%; */
       

   }

   .hostCard {
        width: fit-content;
        justify-content: center;
        width: 100%;
   }

   .host img {
    /* width: 96%;
    object-fit: cover; */
    border-radius: 0.7em 0.7em 0 0;
    padding-top: 0.3em;
    width: 96%;
    height: 7em;
	object-fit: cover;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */

}

}



@media all and (max-width: 1150px) {
    .filtre {
        margin-top: 0.5em;
    }
}

@media all and (max-width: 1500px){
.hostCard {
    width: 40% ;
    margin-left: 1em;
    margin-right: 1em;
}
}
@media all and (max-width: 1200px){
    .hostCard {
        width: 100% ;
        margin-left: 1em;
        margin-right: 1em;
    }

    .host {
        width: 100%;
        margin: 1em 13% 1em 13%;
        
    }
    /* .hostAndPopular {
        margin: 1em 13% 1em 13%;
        
    } */
}

@media (min-width: 641px) {
    span.icon {display:none}
    span.text {display:inline-block}
}

@media (max-width: 640px) {
    span.icon {display:inline-block}
    span.text {display:none}
    .glass {
        color: white;
       
      
    }
    
    .textIcon {
        display: flex;
        justify-content: center;
        padding-right: 0;
            }

    .searchBar {
    display: flex;
    flex-direction: row;
    /* padding: 0.8em; */
    padding-top: 1.2em;
    /* overflow: auto; */
}

    .searchButton {
        padding-right: 0;
        display: flex;
        justify-content: center;
    }

    .searchButton:hover .icon .glass {
        color: #0065fc;
        background-color: #fff;
    }

* {
        font-size: 0.96em;
    }
}