* {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.logogo {
  margin-right: auto;
}
.topHeader {
  display: flex;
  flex-direction: row;
  margin: 1em 13% 1em 13%;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}
.testt {
  justify-content: center;
}
.topNavMenu {
  padding: 0.8em 1.4em 0.5em 1.4em;
  text-decoration: none;
  transition-duration: 250ms;
  color: black;
  width: 50%;
}
.topNavMenu:hover {
  color: #0065fc;
  font-weight: bold;
  border-top: 0.4em solid #0065fc;
  transition-duration: 250ms;
}
.topNavSignUp {
  padding: 0.5em 1.4em 0.5em 1.4em;
  text-decoration: none;
  font-weight: bold;
  color: #0065fc;
}
.hostNav {
  order: 1;
}
.actNav {
  order: 2;
}
.signNav {
  order: 3;
}
#titleSearch {
  font-weight: bolder;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-size: 1.4em;
}
#parSearch {
  margin-top: 0.2em;
  margin-bottom: 0.4em;
}
.searchBar {
  display: flex;
  flex-direction: row;
  padding-top: 1em;
}
.searchInput {
  border: 0.1em solid #f2f2f2;
  font-weight: bold;
  padding-left: 1rem;
}
strong {
  font-weight: bold;
}
.searchButton {
  border: none;
  background-color: #0065fc;
  padding: 1.1em 1.2em 1.1em 1.2em;
  color: white;
  border-radius: 0 0.8em 0.8em 0;
  font-weight: bold;
  transition-duration: 350ms;
  cursor: pointer;
}
.searchButton:hover {
  background-color: white;
  color: #0065fc;
  transition-duration: 350ms;
  transition-delay: 50ms;
  font-weight: bold;
}
.searchHeader {
  display: flex;
  flex-direction: column;
  margin: 1em 13% 1em 13%;
}
.filtres {
  margin-top: 1.3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.titleFiltre {
  font-weight: bold;
  margin-right: 1.5em;
  /* display: flex;
    align-items: center; */
}
.btn-filtres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.filtre {
  margin-right: 1.5em;
  font-weight: bold;
  border-radius: 2em;
  border: 0.18em solid #f2f2f2;
  background-color: #fff;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-left: none;
  transition-duration: 250ms;
}
.filtre:hover {
  transform: scale(1.1);
  background-color: #0065fc;
  color: white;
  transition-duration: 250ms;
  border: 0.15em solid #0066fc;
}
.iconFilter {
  background-color: #deebff;
  border-radius: 100%;
  transform: scale(1);
  height: 3.1rem;
  width: 3.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.filtre:hover .iconFilter {
  background-color: #ffffff;
  color: #0065fc;
  transition-duration: 450ms;
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
button {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 1.3em;
}
.quote {
  display: inline-flex;
  align-items: center;
  margin-top: 1.3em;
}
.fas {
  margin-right: 1.3em;
  padding-left: 0;
}
i {
  color: #0065fc;
}
.material-icons {
  display: flex;
  color: black;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.4em;
  background-color: #f2f2f2;
  border-radius: 0.5em 0 0 0.5em;
}
.hostAndPopular {
  /* margin: 1em auto 1em 13%; */
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  justify-content: space-between;
}
.host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 60%;
  background-color: #f2f2f2;
  border-radius: 1em;
  justify-content: space-evenly;
  margin: 1em 13% 1em 13%;
}
.headerHostTitle {
  width: 100%;
  font-size: 1.3em;
  margin-left: 1.3em;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}
.headerHostTitle h3 {
  font-weight: 600;
}
.hostCard {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  width: 30%;
  margin-bottom: 1.5em;
  /* margin: 0.5em; */
  /* padding-right: 0; */
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: scale(1);
  transition: 0.3s ease-in-out;
  margin-right: 0;
  margin-left: 0;
  /* box-shadow: 0 0 0.1em 0.5em #0000002e; */
}
.hostCard:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
}
.host img {
  border-radius: 1em 1em 0 0;
  padding-top: 0.25em;
  width: 94%;
  height: 7em;
  object-fit: cover;
}
.hostName {
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 0.2em;
  margin-bottom: 0;
  padding-top: 0;
  font-size: 0.9em;
  font-weight: 600;
}
.hostPrice {
  padding-left: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.4em;
  font-size: 0.9em;
}
.HostCardImageBig {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: black;
}
.HostCardImageBig img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.2em;
}
#emptyStar {
  color: #f2f2f2;
}
.hostCardRating {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 1em;
  padding-bottom: 2em;
  height: 1.2em;
}
.hostCardName {
  margin-top: 0.5em;
}
.hostCardPrice {
  display: flex;
  align-items: center;
  margin: 0;
}
.ratingStar {
  margin-right: 0.2em;
}
.emptyStar {
  color: #f2f2f2;
  margin-right: 0.2em;
}

.popular {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 35%;
  background-color: #f2f2f2;
  border-radius: 1em;
  justify-content: space-evenly;
  margin: 1em 13% 1em auto;
}

.popCard {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  width: 95%;
  height: 25%;
  /* margin: 0.5em; */
  /* padding-right: 0; */
  border-radius: 1em;
  display: flex;
  flex-direction: row;
  
  transform: scale(1);
  transition: 0.3s ease-in-out;
  margin-right: 0;
  margin-left: 0;
}

.popCard img {
  border-radius: 1em 0 0 1em;
  padding: 0.25em;
  width: 35%;
  height: 100%;
  object-fit: cover;
}



.popInfo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  
}

.popInfo h3 {
  margin-top: 0.5em;
  margin-left: 0.5em;
font-weight: bold;

}
.popInfo p {
  margin-top: 0.5em;
  margin-left: 0.5em;
}

.popInfo .hostCardRating {
  margin-left: 0.5em;
  margin-top: 0.5em;
  padding-left: 0;
}




@media all and (max-width: 668px) {
  .topHeader {
    margin: 0.5em 0.5em 0.5em 0.5em;
  }
  .topNavMenu {
    display: inline-flex;
    flex-flow: row;
    justify-content: center;
    /* color: #f2f2f2; */
    font-weight: bold;
    border-bottom: 0.2em solid #f2f2f2;
    border-top: none;
    transition-duration: 250ms;
  }
  .hostNav {
    order: 2;
    width: 50%;
  }
  .actNav {
    order: 3;
    width: 50%;
  }
  .signNav {
    order: 1;
    margin-left: auto;
  }
  .topNavMenu:hover {
    color: #0065fc;
    font-weight: bold;
    border-bottom: 0.2em solid #0065fc;
    border-top: none;
    transition-duration: 250ms;
  }
  .testt {
    width: 100%;
    order: 2;
    display: flex;
    flex-direction: row;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    margin: auto;
  }
  .hostAndPopular {
    /* margin: 1em 13% 1em auto; */
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    justify-content: center;
    width: 100%;
  }
  .host {
    width: 100%;
    /* margin: 1em 13% 1em 13%; */
  }
  /* .hostCard {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5em;
  } */
  .host img {
    /* width: 96%;
    object-fit: cover; */
    border-radius: 0.7em 0.7em 0 0;
    padding-top: 0.3em;
    width: 96%;
    height: 7em;
    object-fit: cover;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
  }
}

@media all and (max-width: 1150px) {
  .filtre {
    margin-top: 0.5em;
  }
}

@media all and (max-width: 1859px) {
  .host {
    width: 100%;
  }

  .hostCard {
    width: 32%;
  }
}
@media all and (max-width: 1000px) {
  .hostCard {
    width: 47%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1.5em;
  }

  .host {
    width: 100%;
    margin: 1em 13% 1em 13%;
  }
}

@media (min-width: 641px) {
  span.icon {
    display: none;
  }
  span.text {
    display: inline-block;
  }
}

@media (max-width: 640px) {
  span.icon {
    display: inline-block;
  }
  span.text {
    display: none;
  }
  .glass {
    color: white;
  }

  /* .textIcon {
    display: flex;
    justify-content: center;
    padding-right: 0;
  } */

  .searchBar {
    display: flex;
    flex-direction: row;
    /* padding: 0.8em; */
    padding-top: 1.2em;
    margin: auto;
    /* overflow: auto; */
  }

  .searchInput {
    border: none;
  }

  .searchButton {
    padding-right: 0;
    display: flex;
    justify-content: center;
    border-radius: 30%;
  }

  .searchButton:hover .icon .glass {
    color: #0065fc;
    background-color: #fff;
  }

  * {
    font-size: 1em;
  }

  .searchHeader {
    display: flex;
    flex-direction: column;
    margin: 1em 5% 1em 5%;
  }

  .host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 1em;
    justify-content: space-evenly;
    margin: 0.5em 1% 1em 1%;
  }

  .hostCard {
    width: 95%;
  }

  .host img {
    border-radius: 1em 1em 0 0;
    padding-top: 0.25em;
    width: 97%;
    height: 9em;
    object-fit: cover;
  }

  .hostCardName {
    font-size: 1.2em;
  }

  .hostCardPrice {
    font-size: 1.2em;
  }

  .hostCardRating {
    font-size: 1.2em;
  }

  .iconFilter {
    margin-right: 0.5em;
  }
}
